---
import type { CollectionEntry } from 'astro:content'
import Badge from './ui/badge.astro'
import Button from './ui/button.astro'
import CardContent from './ui/card/card-content.astro'
import Card from './ui/card/card.astro'
import { getCollection } from 'astro:content'

interface Props {
  post: CollectionEntry<'blogs'> | CollectionEntry<'ads'>
  content?: 'careers' | 'blogs'
}

const { post, content = 'blogs' } = Astro.props

const category = (
  await getCollection(
    content == 'careers' ? 'fields' : 'categories',
    // @ts-expect-error - Bad stuff
    (entry) => entry.data.id == (post?.data?.category ?? post?.data?.field)?.id
  )
).at(0)?.data
---

<Card>
  <a href={`/${content}/${category?.handle}/${post.data.handle}`}>
    {
      post.data.image && (
        <img
          src={post.data.image}
          alt={post.data.title}
          class='w-full h-[260px] md:h-[200px] xl:h-[260px] object-cover rounded-lg'
        />
      )
    }
    <CardContent>
      <Badge>{category?.name}</Badge>
      <h2 class='headline-h4 text-muted-foreground-theme'>{post.data.title}</h2>
      <Button variant='secondary'>Прочети</Button>
    </CardContent>
  </a>
</Card>
