---
// @ts-nocheck
import { getCollection } from 'astro:content'
import Button from './ui/button.astro'
import { cn } from '../lib/utils'

interface Props {
  class?: string
  handleName: 'categories' | 'fields'
  pageName: string
  allLabel?: string
}

const {
  class: className = '',
  pageName,
  handleName,
  allLabel = 'Всички',
} = Astro.props
const currentPath = Astro.url.pathname
console.log('currentPath', currentPath)
const isAllActive =
  currentPath.endsWith(`/${pageName}`) ||
  currentPath.startsWith(`/${pageName}/page/`)

const categories = await getCollection(handleName)

const sortedCategories = categories.sort((a, b) =>
  a.data.name.localeCompare(b.data.name)
)

const allCategories = [
  {
    data: {
      name: allLabel,
      handle: 'all',
    },
    isActive: isAllActive,
  },
  ...sortedCategories.map((category) => ({
    data: category.data,
    isActive: currentPath.includes(`/${pageName}/${category.data.handle}`),
  })),
]
---

<div class={cn('flex flex-wrap gap-2 mb-8', className)}>
  {
    allCategories.map((category) => (
      <Button
        variant={category.isActive ? 'default' : 'secondary'}
        size='sm'
        href={
          category.data.handle === 'all'
            ? `/${pageName}`
            : `/${pageName}/${category.data.handle}`
        }
      >
        {category.data.name}
      </Button>
    ))
  }
</div>
